
<h3>懺悔メーカーとは</h3><br>
<h4>①誰にでも起こりうる些細な罪</h4>
<%= image_tag 'intro1.png', width: '315',class: 'intro-image' %><br>
<p>などを・・</p><br>
<h4>②画像付きツイートで懺悔！</h4>
<%= image_tag 'intro2.png', width: '315',class: 'intro-image' %><br>
<p>なんと、<span class='under'>ただそれだけのサービスです。</span></p><br>
<p>が・・・</p>
<h4>③フォロワーから許しが得られるかもしれません</h4>
<%= image_tag 'intro3.png', width: '315',class: 'intro-image' %><br>
<p>「汝の罪を許す」が押されると、@ツイートでリアクションがきます</p>