<div>
  <!-- 生成した画像の確認用の画像の表示 -->
  <%= image_tag @post.picture, width: '315',class: 'image_confirm' %>
</div>

<!-- Twitter投稿へのリンク -->
<a href="https://twitter.com/share?url=https://zngmk.herokuapp.com/posts/<%= @post.public_uid %>/element&text=懺悔メーカーで罪を告白しました&hashtags=懺悔メーカー" target="_blank" class="btn btn-primary btn-lg" data-show-count="false">タイムラインにシェアする</a>

<div>
  <br>
  <br><%= link_to "編集する", edit_post_path(@post) %>
</div>
<div>
  <%= link_to "トップページへ戻る", root_path %>
</div>
